<% if (typeof errors != "undefined") { %>
<% errors.forEach(function (error) { %>
<%= __(error) %>
<% }) %>
<% } %>
<% if (typeof messages != "undefined") { %>
<% messages.forEach(function (message) { %>
<%= __(message) %>
<% }) %>
<% } %>

<form role="form" action="/auth/local" method="post">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Identification</h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="text" name="identifier" class="form-control" placeholder="Username or Email">
      </div>
      <div class="col-md-6">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr />
        <button type="submit">Sign in</button>
      </div>
    </div>
  </div>
</form>

<% if (typeof providers != "undefined" && Object.keys(providers).length) { %>
<h4>You can also use one of these...</h4>

<% Object.keys(providers).forEach(function (key) { %>
<a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
<% }); %>
<% } %>
