
.agenda-filter {
  height: 50px;
  a {
    line-height: 50px;
    color: #333;
    float:right;
    display: block;
    width:100px;
  }
  .form-group {
    margin: 0;
    label {
      margin-left: 12px;
    }
  }
  .checkbox input[type=checkbox] {
    position: relative;
  }
  ul {
    display: inline-block;
    margin: 5px 0 0 0;
  }
  li {
    position: relative;
    display: inline-block;
    padding: 3px 5px;
  }
}
