body { padding-top: 50px; font-family: Arial }

@agendaCell: calc(100% / 7);

@import 'info';
@import 'header';
@import 'filter';
@import 'modal';
@import 'panel';
@import 'navigation';
@import 'time-picker';
@import 'date-time-picker';

.float-right {
  float: right;
}

.agenda-row {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;

  .col, .col-label, .col-day {
    box-sizing: border-box;
    width: @agendaCell;
    .col-content {
      padding: 1px 5px;
      border-top: 1px solid #FFF;
      border-right: 1px solid #FFF;
      text-shadow: 0.5px 0.5px #333;
      height: 100%;
     }
  }
  .col, .col-day {
    .col-content {
      background: #F8F8F8;
      text-shadow: 0.5px 0.5px #AAA;
     }
  }
  .col-active, .col-day-active {
    .col-content {
      background: #FFC156;
    }
  }

  .event {
    position: absolute;
    background: #AAA;
    color: #FFF;
    text-shadow: 1px 1px #333;
    font: 0.8em arial;
    text-align: center;
    z-index: 5;
  }
}

.agenda-vertical.agenda-vertical-row {
  width: 100%;
}
.agenda-vertical {
  position: relative;
  width: @agendaCell;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: center;
  align-content: center;

  .col, .col-label, .col-day {
    box-sizing: border-box;
    width: 100%;
    .col-content {
      height: 100%;
      padding: 1px 5px;
      border-top: 1px solid #FFF;
      border-right: 1px solid #FFF;
    }
  }
  .col, .col-day {
    .col-content {
      background: #F8F8F8;
     }
  }
  .col-active, .col-day-active {
    .col-content {
      background: #FFC156;
    }
  }
  .event {
    position: absolute;
    top: 0;
    width: @agendaCell;
    background: #FF0000;
    color: #FFF;
    font: 1em arial;
    text-align: center;
    z-index: 5;
  }
}

.col-day-disabled {
  z-index: 10;
  opacity: 0.95;
  .col-content {
    background: #DDD!important;
    color: #fff;
    height: 100%;
    text-shadow: 0.5px 0.5px #333;
  }
}




