body { padding-top: 50px; font-family: Arial }

@agendaCell: calc(100% / 7);

@import 'info';
@import 'header';
@import 'filter';
@import 'modal';
@import 'panel';
@import 'navigation';
@import 'time-picker';
@import 'date-time-picker';

.float-right {
  float: right;
}
.agenda {
  background: #F8F8F8;
}

.agenda-row {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;

  overflow: hidden;

  .col, .col-label, .col-day {
    box-sizing: border-box;
    width: @agendaCell;
    .col-content {
      padding: 1px 5px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      text-shadow: 0.5px 0.5px #333;
      height: 100%;
     }
  }
  .col, .col-day {
    z-index: 1;
    .col-content {
      text-shadow: 0.5px 0.5px #AAA;
      color: #666;
     }
  }
  .col-active, .col-day-active {
    .col-content {
      background: rgba(255, 193, 86, 0.5);
    }
  }

  .event {
    position: absolute;
    background: #000;
    color: #FFF;
    text-shadow: 1px 1px #333;
    font: 0.8em arial;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0.5px 0.5px 2px #ccc;
  }
}

.agenda-vertical.agenda-vertical-row {
  width: 100%;
}
.agenda-vertical {
  position: relative;
  width: @agendaCell;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: center;
  align-content: center;

  .col, .col-label, .col-day {
    box-sizing: border-box;
    width: 100%;
    .col-content {
      height: 100%;
      padding: 1px 5px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      font-size: 0.7em;
      line-height: 0em;
    }
  }
  .col, .col-day {
    z-index: 1;
    .col-content {
      color: #FFF;
     }
  }
  .col-active, .col-day-active {
    .col-content {
      background: rgba(255, 193, 86, 0.5);
    }
  }
  .event {
    position: absolute;
    top: 0;
    width: @agendaCell;
    background: #000;
    color: #FFF;
    font: 1em arial;
    text-align: center;
  }
}

.col-day-disabled {
  z-index: 1!important;
  .col-content {
    background: rgba(221, 221, 221, 0.95)!important;
    height: 100%;
    text-shadow: 0.5px 0.5px #333;
  }
}

.agenda-vertical {
  .col-day:nth-child(4n+1), .col-day:nth-child(4n+1) {
    .col-content {
      color: #000!important;
    }
  }
}

.edition {
  .col, .col-day {
    z-index: 0;
  }
}
