.agenda-panel {
  position: fixed;
  top: 50px;
  right: 0;
  bottom:0;
  width: 20%;
  background: #EFEFEF;

  .panel-event {
    color: #FFF;
    .panel-event-title {
      display:block;
      font-weight: bold;
    }
    .panel-event-content {

    }
    .panel-event-date {
      font-size: 0.8em;
    }

  }
}
